body {
  h1 {
    font-family: 'Source Serif Pro Black';
    font-size: 50px;
  }

  h2 {
    font-family: 'Source Serif Pro Semibold';
    font-size: 50px;
  }

  h3 {
    font-family: 'Source Serif Pro Semibold Italic';
    font-size: 50px;
  }

  h4 {
    font-family: 'Source Serif Pro Bold';
    font-size: 50px;
  }

  h5 {
    font-family: 'Source Serif Pro Regular';
    font-size: 50px;
  }
}