.gold__header {
  position: relative;
  font-family: $font-bold;
  font-size: 74px;
  line-height: 95px;
  letter-spacing: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $color-main;
  margin-bottom: 150px;

  &::after {
    position: absolute;
    content: "";
    width: 750px;
    height: 5px;
    top: 130px;
    left: 50%;
    background-color: $color-main;
    opacity: 0.5;
    transform: translate(-50%, 0%);
  }
}
@media (min-width: 768px) and (max-width: 1204px) {
  .gold__header {
    scale: 0.5;
    margin-top: 0;
    margin-bottom: 50px;
  }
}

@media (max-width:767px){
  .gold__header {
    margin-bottom: 50px;
    font-size: 22.5px;
    letter-spacing: 4.5px;
    line-height: 50px;

    &::after{
      width: 233px;
      height: 2.5px;
      top: 45px;
    }
  }
}