/* Cheatsheet shows us all colors and font types,
that may happen. So we can assign them to SCSS variables. */

/*Fonts*/
$font-regular: 'Source Serif Pro Regular';
$font-black: 'Source Serif Pro Black';
$font-italic: 'Source Serif Pro Semibold Italic';
$font-bold: 'Source Serif Pro Bold';
$font-semibold: 'Source Serif Pro Semibold';


/*Colors*/
$color-dark: #000;
$color-light: #fff;
$color-main: #bea67c;
$color-gray: #5e5e5d;