#about {
  min-height: 500px;
  padding: 50px 0;

  .about-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../images/about-us.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;

    .about-content {
      padding: 50px;

      .header-wrapper {
        max-width: 300px;
        border-bottom: 5px solid $color-main;
        margin: 0 auto;
      }

      .header-wrapper h1 {
        font-size: 42px;
        letter-spacing: 5px;
        margin-top: 0;
      }

      .about-description {
        max-width: 500px;
        margin: 20px auto;
        color: $color-light;
        text-align: left;
      }

      .about-description p {
        &:last-of-type {
          text-align: right;
        }
      }
    }
  }
}
