.contact__wrapper {
  width: 530px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 0;
  display: flex;
  flex-flow: column;
  align-items: left;
  
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 6px;
  
  h4 {
    width: 100%;
    margin: 38px auto;
    text-align: center;
    text-transform: uppercase;   
  }
  
  input, textarea {
    height: 76px;
    border: 2px solid $color-dark;
  }
  
  textarea {
    height: 154px;
  }
  
  button {
    margin-top: 48px;
    width: 246px;
    height: 83px;
    border: none;
    background-color: $color-main;
    text-transform: uppercase;
    color: $color-light;
    text-align: center;
    align-self: center;
  }
  
}
@media (min-width: 768px) and (max-width: 1204px) {
  .contact__wrapper {
    width: 400px;
    margin-bottom: 50px;
    font-size: 20px;

    h4 {
      margin: 15px auto;
    }

    input, textarea {
      height: 40px;
    }

    textarea {
      height: 150px;
    }

    button {
      margin-top: 30px;
      width: 150px;
      height: 45px;
    }
  }
}
@media (max-width:767px){
  .contact__wrapper {
    width: 300px;
    margin-bottom: 30px;
    font-size: 15px;

    h4 {
      margin: 10px auto;
    }

    input, textarea {
      height: 30px;
    }

    textarea {
      height: 100px;
    }

    button {
      margin-top: 20px;
      width: 100px;
      height: 30px;
    }  
  }
}