.product {
  margin: 0 auto;
  padding-bottom: 84px;
  position: relative;
  width: 1157px;
  height: 422px;

  .row {
    margin: 0 auto;
    flex-wrap: nowrap;
  }

  .col-sm-6 {
    padding: 0px;
    object-fit: cover;
  }

  .col-xs-12 {
    padding: 0px;
    object-fit: cover;
  }

  &__title {
    position: relative;
    margin: 0;
    margin-top: 40px;
    font-size: 48px;
    text-transform: uppercase;
    line-height: 100px;
    letter-spacing: 3px;
    font-family: $font-bold;
    color: black;

    &::after {
      content: "";
      background-color: $color-main;
      position: absolute;
      width: 110px;
      height: 5px;
      top: 110px;
      left: 0px;
    }
  }

  &__description {
    margin-left: 140px;
    width: 330px;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0px;
    font-family: $font-regular;
    color: $color-gray;

    p {
      margin: 0;
    }
  }

  &__taste {
    font-size: 20px;
    height: 154px;
    line-height: 30px;
    letter-spacing: 1px;
    font-family: $font-bold;
    color: $color-dark;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;

    span {
      color: $color-main;
    }
  }

  &__image {
    width: 553px;
    height: 422px;
    float: right;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 15px $color-dark;   
  }
}

.product:nth-of-type(2n) {
  .row {
    flex-direction: row-reverse;
  }

  .product__title {
    padding-left: 80px;

    &::after {
      margin-left: 80px;
      width: 110px;
      height: 5px;
    }
  }

  .product__description {
    padding-left: 80px;
  }

  .product__taste {
    padding-left: 80px;
  }

  .product__image {
    float: left;
  }
}
@media (max-width:767px) {
  .product {
    max-width: 280px;
    height: auto;
    padding-bottom: 30px;

    .row {
      flex-direction: column;
      justify-content: center;
    }

    &__description {
      width: 250px;
      padding: 0 10px;
      padding-bottom: 15px;
      left: 10px;
      display: flex;
      p {
        text-align: center;
        padding-left: 0;
      }

      &::after {
        width: 30px;
        height: 1.5px;
        top: 27px;
      }
    }

    &__taste {
      margin-top: 20px;
      margin-left: 8px;
      font-size: 12px;
      line-height: 15px;
    }

    &__image {
      width: 280px;
      height: 200px;
      float: none;
    }
  }

  .product:nth-of-type(2n) {
    .row {
      flex-direction: column;
      flex-wrap: wrap;
      display: flex;
	    justify-content: center;
	    align-items: center;
    }
    .product__title {
      padding-left: 0;
  
      &::after {
        margin-left: 0cqb;
        width: 110px;
        height: 5px;
      }
    }
  
    .product__description {
      padding-left: 0;
      box-sizing: border-box;
    }
  
    .product__taste {
      padding-left: 0;
    }
  
    .product__image {
      padding-left: 0;
    }
  }
}